body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

/*
#arjs-video {
  transform: rotateY(180deg);
}
*/

#btn {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  color: whitesmoke;
  background-color: black;
  border: none;
  border-radius: 4px;
  padding: 8px;
  cursor: pointer;
}
